@import 'src/_variables.scss';

#CustomerReviews {
  margin-bottom:28px;
  #OverallRating {
    margin-top:18px;
    margin-bottom:10px;

    strong {
      margin-left:8px;
      vertical-align:baseline;
    }
    .btn.btn-link {
      color:#000;
      vertical-align:baseline;
      font-weight:bold;
      padding-bottom:0;
      margin-top:4px;
    }
  }

  .review-section {
    background-color:#f6f5f5;
    padding:0 8px 8px 8px;

    h3 {
      font-size:1.4em;
      font-weight:300;
      margin-bottom:0;
    }
  }

  hr {
    border:0px solid #fff;
    border-bottom:1px solid $brand-light-gray;
  }

}