$bootstrap-sass-asset-helper: false !default;

/* Variables */

$brand-primary: #ca0c16 !default;
$brand-success: #5cb85c !default;
$brand-info: #040404 !default;
$brand-warning: #f0ad4e !default;
$brand-danger:#d9534f !default;
$brand-light-gray:#ccc !default;
$brand-border:1px solid $brand-light-gray;

$containerMargin: 10px 0 0 0;
$containerPadding: 6px 0;